---
import ImagesGallery from "../../components/ImagesGallery.astro";
import ImageUploadForm from "../../components/ImageUploadForm";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import Layout from "../../layouts/Layout.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t("imageUpload.title")} lang={lang}>
    <main class="container mx-auto">
        <section>
            <h1>{t("imageUpload.heading")}</h1>

            <p class="mb-4">{t("imageUpload.description")}</p>

            <ImageUploadForm t={t} client:load />

            <ImagesGallery
                img_data={[
                    { src: null, name: "400x400" },
                    { src: null, name: "200x200" },
                    { src: null, name: "100x100" },
                ]}
            />
        </section>
    </main>

    <script is:inline>
        const pendingStatus = document.getElementById("pending");
        const pendingStatusMsg = document.getElementById("pending-msg");
        const successStatus = document.getElementById("success");
        const errorStatus = document.getElementById("error");
        const messageStatus = document.getElementById("message");
        const form = document.querySelector("form");
        const fileInput = document.getElementById("file");
        const pendingStatusMsgs = document.getElementById("pendingStatus");
        const imagePreviewContainer = document.getElementById(
            "imagePreviewContainer",
        );
        const imagePreview = document.getElementById("imagePreview");
        const clearImageButton = document.getElementById("clearImageButton");
        const submitButtonContainer = document.getElementById(
            "submitButtonContainer",
        );
        const imageUploadBtnLabel = document.getElementById(
            "imageUploadBtnLabel",
        );
        const imageUploadBtnAnotherLabel = document.getElementById(
            "imageUploadBtnAnotherLabel",
        );

        const setElmVisible = (elm) => {
            if (elm.classList.contains("hidden")) {
                elm.classList.remove("hidden");
            }
        };

        const setElmHidden = (elm) => {
            if (!elm.classList.contains("hidden")) {
                elm.classList.add("hidden");
            }
        };

        const setUploadBtnAnotherLabelVisibilty = (visible) => {
            if (visible) {
                setElmHidden(imageUploadBtnLabel);
                setElmVisible(imageUploadBtnAnotherLabel);
            }
            if (!visible) {
                setElmVisible(imageUploadBtnLabel);
                setElmHidden(imageUploadBtnAnotherLabel);
            }
        };

        const clearImage = () => {
            imagePreview.src = "#";
            setElmHidden(imagePreviewContainer);
            setElmHidden(clearImageButton);
            setElmHidden(submitButtonContainer);
            // Clear status messages/animations
            pendingStatusMsgs
                .querySelectorAll("div")
                .forEach((el) => setElmHidden(el));
            setElmHidden(messageStatus);
            setUploadBtnAnotherLabelVisibilty(false);
        };

        fileInput.addEventListener("change", (event) => {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = (e) => {
                    imagePreview.src = e.target.result;
                    setElmVisible(imagePreviewContainer);
                    setElmVisible(clearImageButton);
                    setElmVisible(submitButtonContainer);
                };
                reader.readAsDataURL(file);
                setUploadBtnAnotherLabelVisibilty(true);
            } else {
                clearImage();
            }
        });

        const updateImagesGallery = (img_object_key) => {
            const CDN_BASE_URL = "https://cdn.yousefelkilany.com";
            const galleryItems = document.querySelectorAll(
                "#imagesGallery .group",
            );
            ["400x400", "200x200", "100x100"].forEach((imgSize, idx) => {
                const imgSrc = `${CDN_BASE_URL}/resized-${imgSize}/${img_object_key}`;
                galleryItems[idx].children[0].setAttribute("src", imgSrc);
                galleryItems[idx].children[0].setAttribute(
                    "data-fullsize-src",
                    imgSrc,
                );
            });
            setElmHidden(pendingStatus);
        };

        form.addEventListener("submit", async (event) => {
            event.preventDefault();

            setElmVisible(pendingStatus);
            pendingStatusMsg.textContent = "Uploading image...";
            setElmHidden(successStatus);
            setElmHidden(errorStatus);
            setElmHidden(messageStatus);

            try {
                const formData = new FormData(form);
                const responseApi = await fetch("/api/imageUpload", {
                    method: "POST",
                    body: formData,
                });

                const resultApi = await responseApi.json();
                if (responseApi.ok) {
                    setElmVisible(successStatus);
                    setElmVisible(messageStatus);
                    messageStatus.textContent =
                        resultApi.message || "File uploaded successfully!";
                    messageStatus.className =
                        "mt-4 text-sm text-green-600 text-center";
                    pendingStatusMsg.textContent =
                        "processing and fetching images...";
                    setTimeout(updateImagesGallery, 7500, resultApi.object_key);
                    console.log("Upload successful:", resultApi);
                } else {
                    setElmHidden(pendingStatus);
                    setElmVisible(errorStatus);
                    setElmVisible(messageStatus);
                    messageStatus.textContent =
                        resultApi.message || "Upload failed.";
                    messageStatus.className =
                        "mt-4 text-sm text-red-600 text-center";
                    console.error("Upload failed:", resultApi);
                }
            } catch (error) {
                setElmHidden(pendingStatus);
                setElmVisible(errorStatus);
                messageStatus.textContent =
                    "Upload failed due to a network or server error.";
                setElmVisible(messageStatus);
                messageStatus.className =
                    "mt-4 text-sm text-red-600 text-center";
                console.error("Fetch error:", error);
            }
        });

        clearImageButton.addEventListener("click", () => {
            fileInput.value = "";
            clearImage();
        });
    </script>
</Layout>
